@import url("whitespace-reset.css");

body {
  font: normal 20px Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #7ed0c1;
}

h2 {
  font-size: 36px;
  color: #45494d;
}

h3 {
  font-size: 16px;
  padding: 30px 0px 30px 30px;
  text-transform: uppercase;
}

body > header {
  background: #3d3d3d;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 130px 0 50px 0;
}

body > header h1 {
  font-size: 68px;
  text-align: center;
  letter-spacing: 6px;
  background: url(../images/logo.png) 50% 100% no-repeat;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

header img {
  display: block;
  margin: 60px auto;
}

header ul {
  text-align: center;
}

header nav a {
  color: #fff;
}

header nav a:active {
  color: #50c3af
}

header ul li {
  display: inline;
  padding: 0 30px;
}

main {
  max-width: 1000px;
  padding: 0 80px;
  margin: 0 auto;
}

article {
  padding-top: 90px;
}

article h2 a {
  color: inherit;
}

#articles {
  float: left;
  width: 65%;
  padding-right: 11.5%;
  overflow: hidden;
}

#sidebar {
  overflow: hidden;
  background: #f6f7f8;
  font-size: 14px;
}

#articles p {
  text-align: justify;
  line-height: 28px;
}

#articles p:first-of-type {
  padding: 30px 0 15px 0;
}

#articles ul {
  font-size: 0;
  padding: 100px 0 100px 90px;
}

#articles li {
  width: 85px;
  height: 30px;
  vertical-align: center; /*  Not working */
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
}

#articles li:first-of-type {
  background: #d2d5da;
  color: #e3e4e7;
}

#articles li:last-of-type {
  background: #50c3af;
}

#sidebar ul,
#sidebar p {
  padding-left: 50px;
  text-align: justify;
}

#sidebar ul {
  padding-bottom: 115px;
  line-height: 28px;
  list-style: url("../images/bl_arrow.png")
}

#sidebar p {
  padding-bottom: 210px;
  padding-right: 50px;
}

main:after {
  display: block;
  clear: both;
  content: "";
}

footer hr {
  display: block;
  margin: 0 90px;
}

footer p {
  font-size: 12px;
  padding: 20px 0px 60px 90px;
}

