@import url("whitespace-reset.css");

body {
  width: 1200px;
  font: 20px Arial, sans-serif;
}

header {
  background: #3d3d3d;
  width: 100%;
  color: #fff;
}

header h1 {
  font-size: 68px;
  text-align: center;
  padding: 145px;
}

header ul {
  font-size: 0;
  display: block;
  text-align: center;
  padding: 60px;
}

header ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0 30px;
  text-transform: uppercase;
}

main a:link {
  color: #7ed0c1;
  text-decoration: none;
}

main article {
  padding: 90px 100px 0 100px;
}

main #articles h2 {
  font-size: 36px;
}

main #articles p {
  text-align: justify;
  line-height: 28px;
}

main #articles p:first-of-type {
  padding: 30px 0 15px 0;
}

main #articles ul {
  font-size: 0;
  padding: 100px 0 100px 90px;
}

main #articles li {
  width: 85px;
  height: 30px;
  vertical-align: center; /*  Not working */
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
}

main #articles li:first-of-type {
  background: #d2d5da;
  color: #e3e4e7;
}

main #articles li:last-of-type {
  background: #50c3af;
}

#articles, 
#nav {
  float: left;
}

#articles {
  width: 66%;
}

#nav {
  width: 33%;
}

main #nav {
  background: #f6f7f8;
  width: 235px;
  margin-top: 90px;
  font-size: 14px;
}

main #nav h2 {
  font-size: 16px;
  padding: 30px 0px 30px 40px;
}

main #nav ul,
main #nav p {
  padding-left: 40px;
  text-align: justify;
}

main #nav ul {
  padding-bottom: 115px;
  line-height: 28px;
}

main #nav p {
  padding-bottom: 210px;
  padding-right: 50px;
}

main:after {
  display: block;
  clear: both;
  content: "";
}

footer hr {
  display: block;
  margin: 0 90px;
}

footer p {
  font-size: 12px;
  padding: 20px 0px 60px 90px;
}

