@import "whitespace-reset.css";
@import "mixins"

body
  font: normal 16px "Lato" sans-serif
  color: colors.text
h1
  padding-bottom: 25px
  font-size: 2em

form
  dt
    padding-bottom: 5px
  dd
    padding-bottom: 20px
  input[type="text"],
  input[type="date"],
  input[type="url"]
    width: 100%
    height: 30px
    padding: 5px 8px
    border: 1px solid colors.border
    border-radius: 6px
    box-sizing: border-box


main, header
  width: 800px
  margin: 0 auto
  padding: 25px 40px

main
  background: colors.main
.albums
  padding: 0 0 40px 0
  margin: 0 0 0 -20px
  li
    display: inline-block
    width: 20%
    padding: 0 0 25px 20px
    vertical-align: top
    box-sizing: border-box
    img
      width: 100%
      margin-bottom: 10px
    h2, h3, p
      padding-bottom: 5px
    h2
      font-size: 1.5em
    h3
      font-size: 1.2em
a.button, input[type='submit']
  cart-button()

main
  clear: both

.cart
  float: right
  position: relative
  width: 50%
  padding-top: 15px
  text-align: right
  label
    display: inline-block
    padding: 2px 3px
    cursor: pointer
  input
    display: none
    &:checked
      + #items
          display: block
  #items
    display: none
    position: absolute
    top: 100%
    right: 0
    padding: 5px 10px
    z-index: 1
    background: colors.button.bg
    color: colors.button.text
    li
      padding: 5px 0
      font-size: 12px
      text-align: 12px
    small
      float: right
      margin-bottom: 10px
      font-size: 11px
    a
      float: left
      position: relative
      width: 12px
      height: 12px
      margin-right: 5px
      text-indent: 8685px
      transform: rotate(45deg)
      &:before,
      &:after
        position: absolute
        content: ""
        background: colors.delete
      &:before
        top: 0
        bottom: 0
        left: 50%
        width: 2px
        margin-left: -1px
      &:after
        top: 50%
        right: 0
        left: 0
        height: 2px
        margin-top: -1px
