body { background: #e0e0e0; }

#columns {
  width: 800px;
}

#primary, #secondary {
  padding: 25px;
  background: yellow;
  box-sizing: border-box;
}

#primary {
  float: right;
  width: 65%;
}

#secondary {
  overflow: hidden;
}