body { background: #cccccc; }

section {
  max-width: 800px;
  margin: 0 auto;
  background: #ffffff;
}

article {
  float: left;
  width: 65%;
  background: #ffffcc;
}

aside { 
  overflow: hidden;
  background: #ccffcc;
}

/* div {
/*  width: 200px; */
/*  background: red; */
} 