@import url("whitespace-reset.css");

body {
  font: 18px 'Roboto Condensed', sans-serif;
  color: #3e606f;
  background-image: linear-gradient(to bottom, #d2dbbe, #fcfff4);
  background-repeat: no-repeat;
}

header {
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

nav {
  float: right;
  padding-top: 75px ;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  background: #fcfff5;
  padding: 10px 40px 14px 40px;
  color: #91aa9d;
  text-decoration: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

nav a.active {
  background: #91aa9d;
  color: #fff;
}

h1 { 
  float: left;
  padding: 45px 0 15px 115px;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
  background: transparent url("../trans.png") 0 0 no-repeat;
}

h2 {
  font-size: 32px;
  padding: 10px 30px 40px 30px;
}

main {
  width: 960px;
  height: 1195px;
  background: #fff;
  margin: 120px auto 0px auto;
  box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

main img {
  padding: 0 30px 30px 30px; 
}

main .masthead {
  padding-top: 30px;
}

main .floated-image {
  float: right;  
  padding-bottom: 10px;
}

p {
  line-height: 28px;
  padding: 0 30px 25px 30px;
}

footer div {
  width: 960px;
  font-size: 14px;
  margin: 0 auto;
  padding: 15px 0;
}