@import "whitespace-reset.css";
body {
  font: normal 16px "Lato", sans-serif;
  color: #333;
}
h1 {
  padding-bottom: 25px;
  font-size: 2em;
}
form dt {
  padding-bottom: 5px;
}
form dd {
  padding-bottom: 20px;
}
form input[type="text"],
form input[type="date"],
form input[type="url"] {
  width: 100%;
  height: 30px;
  padding: 5px 8px;
  border: 1px solid #888;
  border-radius: 6px;
  box-sizing: border-box;
}
main,
header {
  width: 800px;
  margin: 0 auto;
}
main {
  background: #fff;
  padding: 0 40px 25px;
  clear: both;
}
header {
  padding: 0 20px;
}
.no-items {
  float: right;
}
.cart {
  float: right;
  position: relative;
  width: 50%;
  padding-top: 15px;
  text-align: right;
}
.cart label {
  display: inline-block;
  padding: 2px 3px;
  cursor: pointer;
}
.cart input {
  display: none;
}
.cart input:checked + #items {
  display: block;
}
.cart #items {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 5px 10px;
  z-index: 1;
  background: #00a388;
  color: #fff;
}
.cart #items li {
  padding: 5px 0;
  font-size: 12px;
  text-align: 12px;
}
.cart #items small {
  float: right;
  margin-bottom: 10px;
  font-size: 11px;
}
.cart #items .album-remove-cart {
  width: 12px;
  height: 12px;
  margin-right: 15px;
  text-indent: 8685px;
}
.cart #items .album-remove-cart:before,
.cart #items .album-remove-cart:after {
  top: 40%;
}
.cart .total {
  font-size: 16px;
}
.albums {
  padding: 0 0 40px 0;
  margin: 0 0 0 -20px;
}
a.button,
input[type='submit'] {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #00a388;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: box-shadow 200ms ease, top 200ms ease, left 200ms ease, color 200ms ease;
  box-shadow: 2px 2px 0 2px #008a73;
}
a.button:hover,
input[type='submit']:hover,
a.button:focus,
input[type='submit']:focus {
  color: #ffff9d;
}
a.button:active,
input[type='submit']:active {
  left: 2px;
  top: 2px;
  box-shadow: 1px 1px 0 1px #008a73;
}
.album-container {
  display: inline-block;
  width: 20%;
  padding: 0 10px 10px 10px;
  vertical-align: top;
}
.album-container img {
  width: 100%;
  margin-bottom: 10px;
}
.album-container h2,
.album-container h3,
.album-container p {
  padding-bottom: 5px;
}
.album-container h2 {
  font-size: 1.5em;
}
.album-container h3 {
  font-size: 1.2em;
}
.album-content {
  padding: 20px;
  border: 1px solid #808080;
}
.album-remove {
  position: relative;
  margin: -10px 0 0 -15px;
}
.album-remove:before,
.album-remove:after {
  position: absolute;
  content: "";
  background: #b00b00;
  width: 12px;
  height: 2px;
}
.album-remove:before {
  transform: rotate(45deg);
  left: 2px;
}
.album-remove:after {
  transform: rotate(-45deg);
  left: 2px;
}
.album-remove-index {
  text-indent: 100%;
  overflow: hidden;
  display: block;
  width: 20px;
  cursor: pointer;
}
.album-remove-index:before,
.album-remove-index:after {
  top: 20%;
}
.album-remove-index:before {
  right: 10px;
}
.album-remove-index:after {
  right: 10px;
}
