@import url("whitespace-reset.css");

body {
  font: 12px Helvetica, Arial, sans-serif;
}

header {
  background: #6f5499;
  padding-top: 30px;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: #fefefe;
  padding-bottom: 15px;
}

.title-caption {
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 30px;
}

.well {
  background: #f5f5f5;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1000px;
  border: 1px solid lightgrey;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button-container-half {
  width: 48%;
  display: inline-block;
}

.button-container-full {
  display: inline-block;
  width: 100%;
}

.button {
  display: inline-block;
  background: white;
  border: 1px solid #6f5499;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

.button-large {
  font-size: 18px;
}

.new-contact,
.new-tag {
  width: 39%;
  padding: 10px;
  margin-left: 10%;
  text-align: center;
  box-sizing: border-box;
}

form.search {
  display: inline-block;
  font-size: 18px;
  padding: 0 4%;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle;
  width: 50%;
}

form.search label {
  display: inline-block;
}

#search-field {
  width: 80%;
  height: 40px;
  font: 18px Helvetica, Arial, sans-serif;
  vertical-align: middle;
  border: 1px solid #6f5499;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 10px;
}

.results {
  max-width: 1000px;
  margin: 0 auto;
}

.contact {
  padding-top: 10px;
}

.contact article {
  padding-left: 10px;
}

.contact dl {
  padding-bottom: 10px;
}

.contact dd {
  padding-bottom: 5px;
}

.contact h2 {
  font-size: 22px;
  padding-bottom: 20px;
}

.button-small {
  padding: 10px;
  margin-right: 10px;
}

.contact dt,
.contact dd {
  font: 14px Helvetica, Arial, sans-serif;
}

.contact dt {
  font-weight: bold;
}

.form {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;
}

.form dl {
  padding-bottom: 20px;
}

.form dt,
.form dd {
  display: inline-block;
  vertical-align: middle;
}

.form dt {
  width: 15%;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
}

.form dd {
  width: 85%;
}

.form dd input {
  height: 30px;
  font: 16px Helvetica, Arial, sans-serif;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 10px;
}

.form dt label {
  font: bold 16px Helvetica, Arial, sans-serif;
}

.tag-form dt label,
.tag-form dt input {
  font-size: 18px;
}

.form dd input,
.form dt label {
  width: 100%;
}

.form-title {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0 5px 0;
  margin: 0 auto 20px auto;
  width: 1000px;
}

.button-container-form {
  padding-left: 15%;
  box-sizing: border-box;
}

.form-button {
  width: 49%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.search-message {
  text-align: center;
}

.search-text,
.message-text {
  font-size: 18px;
}

.search-text {
  font-weight: bold;
}

.info dt {
  padding-bottom: 5px;
}

.search-results {
  position: relative;
}

.close {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 18px;
  cursor: pointer;
}
