@import url('whitespace-reset.css');

body {
  background: #171717;
  color: #fff;
  font: 16px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
  text-align: center;
}

figure img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 10px solid #fff;
  box-sizing: border-box;
}

figcaption {
  padding-top: 15px;
}

main {
  background: #363636;
  min-width: 600px;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

main li {
  display: inline-block;
  width: 24.5%;
  padding: 0 15px;
  box-sizing: border-box;
}

main ul {
  margin: 0 -15px;
}

figure {
  margin-bottom: 30px;
}

/*main li:nth-of-type(4) {
  padding-right: 0;
}*/

main li img {
  border: 3px #fff solid;
  width: 100%;
  box-sizing: border-box;
}
