<td><img src="images/sashimi-salad.jpg" alt="cart-item"></td>
<td>{{name}}</td>
<td>
  <span class="quantity_modifier">
    <i class="fa fa-minus" aria-hidden="true"></i>
  </span>
  <p>1</p>
  <span class="quantity_modifier">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </span>
</td>
<td>${{price}}</td>
