<div class="img_top"></div>
<section>
  <h1>Order Details</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th></th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody class="checkout-items-list">
    </tbody>
  </table>
  <p class="checkout-total"></p>
  <footer>
    <a class="destroy-order" href="/">Cancel order</a>
    <form class="place-order" action="/" method="post">
      <input type="submit" value="ORDER NOW!">
    </form>
  </footer>
</section>
<div class="img_bottom"></div>
