/*main {
  min-width: 600px;
  max-width: 1400px;
}*/

/*#content,
#sidebar {
  padding: 20px 30px;
}

#content {
  float: left;
  width: 70%;
  box-sizing: border-box;
  background-color: blue;
}

#sidebar {
  overflow: hidden;
  background-color: red;
}*/

/*Fixed fluid*/

/*#content,
#sidebar {
  float: left;
  padding: 20px 30px;
  box-sizing: border-box;
}

#content {
  width: 70%;
}

#sidebar {
  width: 30%;
}*/

/*fluid flex*/

#content,
#sidebar {
  padding: 20px 30px;
}

#content {
  float: left;
  width: 70%;
  box-sizing: border-box;
}

#sidebar {
  overflow: hidden;
}

/*convert to fluid layout*/

main {
  min-width: 600px;
  max-width: 1000px;
}

