header {
  background: #f4deb5;
  padding: 15px 0 30px 0;
}

main {
  background: #e6e6e6;
  padding-top: 30px;
}

h1 {
  font-size: 48px;
}

.btn-default {
  background: #c3c3c4;
}

.sidebar {
  background: #90bb90;
  margin-right: 20px;
  padding-top: 20px;
  height: 100vh;
  width: 250px;
}

.sidebar h5 {
  color: #fce1b8;
}

.sidebar p {
  color: white;
}
