@import url("whitespace-reset.css");

body {
  font: normal 20px Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #7ed0c1;
}

h2 {
  font-size: 36px;
  color: #45494d;
}

h3 {
  font-size: 16px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

article {
  padding-bottom: 40px;
}

body > header {
  background: #3d3d3d;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 130px 0 50px 0;
}

body > header h1 {
  font-size: 68px;
  text-align: center;
  letter-spacing: 6px;
  background: url(../images/logo.png) 50% 100% no-repeat;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

header img {
  display: block;
  margin: 60px auto;
}

header ul {
  text-align: center;
}

header nav a {
  color: #fff;
}

header nav a:active {
  color: #50c3af
}

header ul li {
  display: inline;
  padding: 0 30px;
}

main {
  max-width: 1000px;
  padding: 80px 0px;
  margin: 0 auto;
}

article h2 a {
  color: inherit;
}

#articles {
  float: left;
  width: 65%;
  padding-right: 11.5%;
}

#sidebar {
  overflow: hidden;
  background: #f6f7f8;
  font-size: 14px;
  padding: 35px;
}

#sidebar li a {
  color: #787b80;
}

#articles p {
  text-align: justify;
  line-height: 28px;
}

#articles p:first-of-type {
  padding: 30px 0 15px 0;
}

.pagination {
  padding: 60px 0;
}

.button {
  display: inline-block;
  padding: 5px 25px;
  font: normal 15px Arial, sans-serif;
  color: #f5f5f5;
  border-radius: 20px;
  cursor: pointer;
}

.pagination .disabled {
  background: #d2d5da;
  cursor: default;
}

.pagination .next {
  margin-left: 25px;
}

.pagination .next,
.post{
  background: #50c3af;
}

#sidebar ul,
#sidebar p {
  line-height: 150%;
}

#sidebar ul {
  padding: 0 0 115px 20px;
  line-height: 28px;
  list-style: url("../images/bl_arrow.png")
}

#sidebar p {
  padding-bottom: 210px;
}

main:after {
  display: block;
  clear: both;
  content: "";
}

footer {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  color: #a0a3a7;
  border-top: 1px solid #d0d0d0;
  padding: 20px 0px 60px 0px;
}

.comments h2 {
  padding-bottom: 20px;
}

.comment h3 {
  font-weight: normal;
  text-transform: none;
  font-size: 20px;
  padding-bottom: 40px;
}

.comment img,
.comment h3 {
  display: inline;
  vertical-align: middle
}

.comment img {
  border-radius: 100%;
}

form dt {
  font-weight: bold;
  padding-top: 5px;
}

form dd {
  padding: 10px 0;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 38px;
  font: normal 15px Arial, sans-serif;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"] {
  width: 66%;
}

textarea {
  height: 140px;
  resize: none;
}

/*input[type="checkbox"] {display: none;}

input[type="checkbox"] + form {display: none;}

input[type="checkbox"]:checked + form {display: block;}*/

@media (max-width: 768px) {
  
  body > header {
    padding: 40px 0;
  }
  body > header h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 24px;
  }
  main {
    padding-top: 80px;
  }
  header ul li {
    padding: 0 15px;
  }

}

@media (max-width: 600px) {
  
  #articles {
    float: none;
    width: auto;
    padding: 0 25px;
  }
  .block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  #sidebar ul {
    padding: 0 0 0 20px;
  }
  #sidebar p {
    padding-bottom: 0;
  }
  .pagination {
    padding-top: 40px;
  }
}

@media (max-width: 480px){

  body > header {
    padding-bottom: 0;
  }

  body > header h1 {
    font-size: 40px;
    background-size: 90% auto;
    padding-bottom: 90px;
    margin-bottom: 50px;
  }

  .block {
    display: block;
    margin: 25px 0;
    background: #f6f7f8;
    width: auto;
    vertical-align: center;
    padding: 20px;
  }

  #sidebar {
    background: none;
  }

  header nav li {
    display: inline-block;
    width: 49%;
    padding: 10px 0;
  }

  .pagination {
    padding: 20px 0;
  }

  main {
    padding: 80px 0 0px 0;
  }

}

