include /_mixins

doctype html
html
  head
    title= 'Sushi'
    
    +stylesheet_link_tag('main')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    +javascript_include_tag("vendor/all")
    
  body
    header
    main
    
      block content

    +javascript_include_tag("application")
    +javascript_include_tag("views/header")
    +javascript_include_tag("templatesCompiled")
    script.
      App.init();
