@import url("whitespace-reset.css");

body {
  padding: 135px 0 0 0;
  color :#45494d;
  background: #2f2840 url("../images/bg_body.gif") 50% 0 repeat; 
  background-color: #2f2840;
  font: normal 20px/28px "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
}

header h1 {
  padding-bottom: 115px 
}

.column {
  max-width: 1000px;
  margin: 80px auto 0 auto; 
}

main {
 background-color: #ffffff;
 text-align: center;
 padding: 80px 0 40px 0; 
}

nav {
  font-size: 26px;
  text-transform: uppercase;
  padding-bottom: 45px;
}

nav li {
  display: inline;
  padding: 0 42px;
}

nav a {
  color: #cacaca;
  text-decoration: none;
}

nav a.active {
  color: #6db9ff;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  padding: 0px 0 15px 0;
}

h2:before, 
h2:after {
  display: inline-block;
  content: " \2022 ";
  padding: 0 24px;
  font-size: 22px; 
  vertical-align: 5px;
}

h3 {
  color: #3e59b2;
  font-size: 24px;
  padding: 10px;
}

article {
  padding-bottom: 80px;
}

p {
  padding: 20px 40px; 
}

footer {
  background: #e7e7e7;
  margin: 0 auto 40px auto;
  padding-bottom: 35px;
}

footer p {
  padding-top: 65px;
  color: #b2b2b2;
}

footer li {
  display: inline-block;
  text-align: center;
  padding: 0 60px;
}

footer li a {
  display: block;
  width: 46px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("../images/icons_social-media.png") 0 0 no-repeat;
}

footer li a.facebook {
  background-position: 0 -46px;
}
footer li a.email {
  background-position: 0 -92px;
}
footer li a.instagram {
  background-position: 0 100%;
}

.projects p {
  padding-left: 100px;
  padding-right: 100px;
}

.projects figure {
  padding: 20px 0;
}

.team li a {
  text-decoration: none;
  color: #3e59b2;
  font-size: 24px;
  text-align: center;
}

.team ul {
  max-width: 1000px;
  padding-bottom: 200px;
}

.team li {
  display: inline-block;
  padding: 0 30px;
}

.team p {
  padding: 0 110px 40px 110px;
}

.team li img {
  display: block;
  padding-bottom: 30px;
}

@media (max-width: 895px) {
  .team li {
    width: 48%;
    padding:0 0 20px 0;
  }
  .team li img {
    margin: 0 auto;
  }
  .projects img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  header h1 {
    width: 235px;
    height: 185px;
    padding-bottom: 45px;
    margin: 0 auto
  }
  header img {
    width: 100%;
  }
  body {
    padding-top: 65px;
  }
  main { 
    padding: 40px 0px 20px 0;
  }
  .column {
    margin-top: 40px;
  }
  article {
    padding-bottom: 40px;
  }
  article p {
    text-align: justify;
  }
  footer li {
    padding: 0 32px;
  }

@media (max-width: 480px){
  header {
    float: left;
    display: inline;
  }
  header h1 img {
    width: 100%;
  }

}
