<div class="overlay">
  <form>
    <dl>
      <dt><label>Name</label></dt>
      <dd><input class="name" type="text"></dd>
    </dl>
    <fieldset>
      <legend>Colors</legend>
        <dl>
          <dt><label>Color 1</label></dt>
          <dd><input class="color1" type="text"></dd>
        </dl>
        <dl>
          <dt><label>Color 2</label></dt>
          <dd><input class="color2" type="text"></dd>
        </dl>
        <dl>
          <dt><label>Color 3</label></dt>
          <dd><input class="color3" type="text"></dd>
        </dl>
    </fieldset>
    </dl>
    <fieldset>
      <button class="btn-add" type="submit">Add</button>
      <button class="btn-cancel">Cancel</button>
    </fieldset>
  </form>
</div>
