body {
  /*margin: 10px;*/
  font: normal, 13px, Helvetica, Arial, sans-serif;
  background: #eee196
}

main {
  background: #fff;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

form {
  padding-top: 60px;
}

div {
  float: right;
  width: 75%;
}

div li:hover {
  background: #99f099;
}

div li + li {
  border-top: 1px solid grey;
}

label {
  display: block;
  padding-left: 10px;
  padding-bottom: 5px;
}

input {
  margin-right: 5px;
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: none;
  padding: 15px 0;
}
